body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
    text-align: center;
}